body {
  background-image: url('/src/img/pibes.jpg');
  background-size: cover; /* La imagen cubrirá todo el fondo */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  background-position: center; /* Centrar la imagen en la pantalla */
  background-attachment: fixed; /* Fija la imagen al fondo para que no se mueva con el scroll */
  color: #333; /* Ajusta el color del texto a un tono más oscuro */
  min-height: 100vh; /* Asegura que el body ocupe el 100% del alto de la ventana */
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  color: black; /* Asegúrate de que los encabezados tengan suficiente contraste */
}

/* Otros ajustes relacionados con el diseño responsivo */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
